<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - 404</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon/favicon.png" type="image/png">
</head>

<body>
    <button><a href="/home">< Volver al Home</a></button>
    <h1>¿Donde estoy?</h1>
    <section class="container-404">
        <div class="error-404">
            <p>¡Ups! <br><br> No se encontró la página.</p>
            <img src="img/404.jpg" alt="Foto de Charles Babbage">
        </div>
    </section>
</body>

</html>